* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 20 60px;
  margin: auto;
}

.small {
  height: 75px;
  width: 196px;
}

.slider {
  width: 100%;
  height: 125vh;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.slide {
  width: inherit;
  height: 135vh;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
  object-fit: cover;
}
.click {
  text-align: center;
  color: #fff;
  opacity: 0.4;
}
.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 10s;
}

.slide:nth-child(3) {
  animation-delay: 20s;
}

.slide:nth-child(4) {
  animation-delay: 30s;
}

.slide:nth-child(5) {
  animation-delay: 40s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

/* */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: black;
  font-family: "Poppins", sans-serif;
  opacity: 2;
}

.logo {
  color: rgb(105, 103, 103);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  color: #fff;
  font-weight: 600;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 13px;
  display: block;
  cursor: pointer;
}

.nav-links li a:hover {
  color: grey;
  cursor: pointer;
}

.see {
  display: none;
  cursor: pointer;
}
.see div {
  width: 25px;
  height: 3px;
  background-color: rgb(105, 103, 103);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  /* where to fix navbar*/
  .nav-links {
    position: absolute;
    right: 0px;
    height: 86vh;
    top: 8vh;
    background-color: black;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.9s ease-in;
    z-index: 1;
    max-width: -0.9vh;
    overflow-y: hidden;
  }

  .nav-links li {
    opacity: 0;
  }

  .see {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
    z-index: 1;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*about page*/

h2 {
  color: #fff;
  margin-top: 70px;
}

section {
  padding: 50px 0;
  background-color: black;
}
.about {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.about .title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

.about .title::after {
  content: "who i am";
  position: absolute;
  bottom: -16px;
  left: 50%;
  font-size: 20px;
  color: white;
  padding: 5px;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
}

.about .about-content,
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
  color: #fff;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

span {
  color: purple;
}

.music {
  cursor: pointer;
}

/*all similar styling content*/

section {
  padding: 100px 0;
}

/* services styling*/
.services .title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

.services .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

.services .title::after {
  content: "what i offer";
  position: absolute;
  bottom: -16px;
  left: 50%;
  font-size: 20px;
  color: white;
  padding: 5px;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
}

.services {
  color: #fff;
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3 ease;
  font-family: "Poppins", sans-serif;
}

.services .serv-content .card:hover {
  background: purple;
}

.services .serv-content .card i {
  font-size: 40px;
  color: purple;
  margin-bottom: 2.5px;
  transition: color 0.3 ease;
}

.services .serv-content .card:hover i {
  color: white;
}

.services .serv-content .card .text {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  justify-content: center;
}

.services .serv-content .card .box {
  transition: all 0.3 ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

/*portfolio styling*/

.portfolio .title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

.portfolio .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

.portfolio .title::after {
  content: "my work";
  position: absolute;
  bottom: -16px;
  left: 50%;
  font-size: 20px;
  color: white;
  padding: 5px;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
  font-family: "Poppins", sans-serif;
}

.container .main-video {
  background: linear-gradient(rgba(0.7, 0.7, 0.7, 0), purple);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.6;
}

.container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .heading {
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0.4;
}

.container .video-list {
  background: linear-gradient(rgba(0, 0, 0, 0.7), purple);
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar {
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 100px;
  border-radius: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: whitesmoke;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background: white;
}

.container .video-list .vid.active {
  background: gray;
}

.container .video-list .vid.active .heading {
  background: gray;
  opacity: 0.8;
}

.container .video-list .vid .heading {
  font-size: 17px;
}

/*contacts styling*/

.contact .title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
}

.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

.contacts {
  width: 100%;
  height: 108vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.size {
  background-size: cover;
}

form {
  width: 90%;
  max-width: 600px;
  margin-bottom: 450px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 40%;
}
/*footer styling*/

footer {
  background: black;
  height: 100;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: purple;
  transition: color 0.4s ease;
}

.footer-bottom {
  background: rgb(0, 0, 0);
  width: 100vw;
  padding: 0.5px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 1px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.7;
  font-weight: 200;
}

/*responsive media query*/

@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  max-width {
    padding: 0 50px;
  }

  .container {
    grid-template-columns: 1.5fr 1fr;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }

  .max-width {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }
}

@media (max-width: 750px) {
  .max-width {
    padding: 0 23px;
  }

  .services .serv-content .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
